@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,400,700|Open+Sans:300|Source+Code+Pro:300&subset=latin,cyrillic);

/*
LAYOUT
------
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html, h1, h2, h3, h4, ol, ul {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  border-bottom: 1px solid;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 10px 40px;
  z-index: 10;
}

h4 {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

img {
  margin: 0 auto;
  display: block;
}

/*
  slides styling
 */
body, html, .slide {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  align-items: center;
  padding: 0 40px;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;  
  -moz-transition:    opacity 0.3s ease, visibility 0.3s ease;
  -ms-transition:     opacity 0.3s ease, visibility 0.3s ease; 
  -o-transition:      opacity 0.3s ease, visibility 0.3s ease;
  transition:         opacity 0.3s ease, visibility 0.3s ease;
}

.slide-content {
  flex-basis: 100%;
}

.slide.hidden {
  opacity: 0;
  visibility: hidden;
}

ul, ol {
  padding: 0 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.progress-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 5px;
  z-index: 100;
  -webkit-transition: width 0.3s ease;  
  -moz-transition:    width 0.3s ease;
  -ms-transition:     width 0.3s ease; 
  -o-transition:      width 0.3s ease;
  transition:         width 0.3s ease;
}

code, pre {
  border: 1px solid;
  border-radius: 3px;
  overflow: auto;
  padding: 6px 10px;
}

code {
  padding: 0 5px;
}

pre > code {
  margin: 0; padding: 0;
  border: none;
  background: transparent;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}


/*
FONTS
-----
*/

body, html {
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 30px;
}

h1, h2, h3, h4 {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
}

h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
}

h3 {
  font-size: 44px;
  line-height: 54px;
  font-weight: 100;
}

h4 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 400;
}

p, ol, ul {
  font-size: 34px;
  line-height: 44px;
}

strong {
  font-weight: 400;
}

code, pre {
  font-family: 'Source Code Pro';
  font-weight: 300;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}


/*
COLORS
------

A one stop shop for changing colors.

The current color scheme ref:
https://coolors.co/f9c866-f7f7f7-6d6565-9cdefc-111214
https://coolors.co/ffc654-f7f7f7-ce1e1e-9cdefc-111214
https://coolors.co/ffc654-f7f7f7-ce4685-9cdefc-111214
*/

body, html, ol, ul { color: #F7F7F7; }
h1, h2, h3, h4, h5, h6 { color: #9CDEFC; }
.slide { background-color: #000; }
code, pre { color: #F9C866; background-color: #111214; border-color: #F9C866; }
code, pre { color: #F7F7F7; border-color: #F7F7F7; background-color: #111214; }
.progress-bar { background-color: #89BCD3; }
a { color: #89BCD3; }
a:hover { color: #89BCD3; }
b, strong { color: #F9C866; }
h3 { border-bottom-color: #fff background-color: #F7F7F7; }


/*
HLJS COLORS
===========
*/
.hljs {
  background: #111214;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #9CDEFC;
}

.hljs-keyword {
  color: #CE1E1E;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-title {
  color: #9CDEFC;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-attr,
.hljs-symbol
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #FFC654;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #ce4685;
}

.hljs-literal,
.hljs-number {
  color: #B546CE;
}

